{% extends "base.html" %}
{% block content %}
    <style>
        @import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
        body { font-family: 'Fira Code', monospace; }

    </style>
    <div class="jumbotron">
      <h2>AlexBot</h2>
      <p>AlexBot is a Discord Bot which I am programming. It is mostly a bot for fun. Check out the commands!</p>
      <a href="https://discord.com/api/oauth2/authorize?client_id=732352698908934154&permissions=37084224&scope=bot">Invite the Bot to your server by clicking here!</a>
    </div>

{% endblock %}
